RewriteEngine On

RewriteBase /admin/

RewriteRule ^([a-z0-9/-]+)/add?$ index.php/$1/?action=add [QSA,L]
RewriteRule ^([a-z0-9/-]+)/edit/([0-9]+)?$ index.php/$1/?action=edit&id=$2 [QSA,L]
RewriteRule ^([a-z0-9/-]+)/delete/([0-9]+)?$ index.php/$1/?action=delete&id=$2 [QSA,L]

# Redirect all other requests to index.php
RewriteCond %{REQUEST_URI} !^/admin/core/(.+)$
RewriteRule !\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|xpi|safariextz|vcf|htm)$ index.php [QSA,PT,L]