{% extends "base.twig" %}

{% block content %}
{% include "common/nav.twig" %}
          <div class="span9">
            <div class="page-header">
              <h1>
                <h1>Page not found <small>404</small></h1>
              </h1>
            </div>
            <p class="lead">The page you were looking for does not exist... <a class="btn btn-inverse pull-right" href="/admin"><i class="icon-arrow-left icon-white"></i> Back to dashboard</a></p>
            <div class="alert alert-info alert-block">
              <strong>Heads up!</strong> Have you defined this URL route in the <code>$valid_paths</code> array located in the <em>admin/index.php</em> file yet?
            </div>
            <p></p>
        </div>
{% endblock %}