{% extends "base.twig" %}

{% block content %}
{% include "common/nav.twig" %}
      <div class="span9">
        <div class="row-fluid">
          <div class="well">
            <h1>404! <small>Page not found...</small></h1>
            <br />
            <p><a class="btn btn-primary" href="/admin">Back to cPanel</a></p>
          </div>
        </div>
      </div>
{% endblock %}