{% extends "base.twig" %}

{% block content %}
{% include "common/nav.twig" %}
        <div class="span9">
          <div class="page-header">

            <h1>
              {% if appletouchicon %}
              <img src="/apple-touch-icon-57x57-precomposed.png" >
              {% endif %}
              {{ sitename }} <small>Dashboard</small>
            </h1>
          </div>

          <div class="row-fluid">
            <div class="span4 well">
              <h3><i class="icon-cloud-download"></i> Backup</h3>
              <p>Run the database backup utility to safeguard your site's data.</p>
              <p><a class="btn btn-inverse input-block-level" href="/admin/backup">Backup now</a></p>
            </div><!--/span-->

            <div class="span4 well">
              <h3><i class="icon-key"></i> IP whitelist</h3>
              <p>In order to grant access to new admins, add their IP address to the whitelist.</p>
              <p><a class="btn btn-inverse input-block-level" href="/admin/allowedips">Add IP address</a></p>
            </div><!--/span-->

            <div class="span4 well">
              <h3><i class="icon-cogs"></i> Settings</h3>
              <p>Edit general administration settings such as Twitter accounts and email addresses.</p>
              <p><a class="btn btn-inverse input-block-level" href="/admin/settings">Edit settings</a></p>
            </div><!--/span-->
          </div><!--/row-->

        </div><!--/span-->
{% endblock %}