      </div><!--/row-->

      <hr>

      <footer>
        <p class="pull-right"><a href="#top"><i class="icon-arrow-up"></i></a></p>
        <p>&copy; {{ cms.name }} {{ "now"|date("Y") }} | <a href="#" class="credits">Credits</a></p>
      </footer>

      <div class="modal fade hide" id="credits">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>&nbsp;</h3>
        </div>
        <div class="modal-body">
          <p class="lead">{{ cms.name }} <small>v{{ cms.version }}</small> built by <a href="http://www.studiomohu.com" target="_blank">Studio Mohu</a></p>
          <p>With thanks to the following open source softwares:</p>
          <table class="table table-bordered span5">
            <tbody>
              {% for dependancy, version in cms.dependancies %}
              <tr>
                <td>{{ dependancy }}</td>
                <td>v{{ version }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div><!--/.fluid-container-->

    <!-- JavaScript at the bottom for fast page loading -->
    <script src="/admin/js/bootstrap.min.js"></script>

  </body>
</html>