<div class="span9">

  <div class="page-header">
    <h1>{{ module|title }} <small>Not configured</small></h1>
  </div>

  <p class="lead">You haven't added any fields to this module yet... <a class="btn btn-inverse pull-right" href="/admin"><i class="icon-arrow-left icon-white"></i> Back to dashboard</a></p>
  <div class="alert alert-info alert-block">
    <strong>Heads up!</strong> Add some fields to this model located here - <em>/admin/models/{{ module }}.php</em>
  </div>

</div>