        <div class="span9">
          <div class="page-header">
            <h1>
              Forbidden <small>You have insufficient access rights to view this resource</small>
            </h1>
          </div>

        </div>